In [1]:
# import Config class to build report from Jupyter
from firefly import Config

# specify a configuration file path
orders_ff = Config('orders.yaml')

# list all objects in the configuration
orders_ff.list()

{'connections': ['order_sqlite'],
 'datasets': ['order_all'],
 'charts': ['order_table'],
 'dashboards': ['order_summary']}

In [2]:
# display a single chart
orders_ff.show_chart('order_table')

In [3]:
# display a whole dashboard
orders_ff.show_dashboard('order_summary')